.navbar__container {
  display: flex;
  justify-content: center;
  height: 62px;
  background-color: rgb(223, 223, 223);
}

.navbar__text {
  margin: 15px 20px 0px 20px;
  font-size: 20px;
  cursor: pointer;
}

.navbar__text:hover {
  text-decoration: underline;
}
