@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

.programmer__c {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-family: "Ubuntu Mono";
}

.programmer__c--flex {
  display: flex;
}

.programmer__name-title {
  padding: 50px 0px 0px 0px;
  margin: 0px 0px 0px 30px;
  text-align: left;
}

.programmer__name-subtitle {
  padding: 5px 0px 0px 0px;
  margin: 0px 0px 20px 30px;
  text-align: left;
}

.programmer__sc-flex1 {
  width: 400px;
  height: 570px;
  color: rgb(226, 223, 223);
  text-align: left;
  background-color: #083f6a;
}

.programmer__sc-flex1__detail-c {
  margin: 20px 20px 20px 20px;
  padding: 0px 0px 0px 0px;
}

.programmer__sc-flex1__details-title {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #aedae5;
}

.programmer__sc-flex1__details-details1 {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #5aaad0;
}

.programmer__sc-flex1__details-details2 {
  margin: 3px 0px 3px 0px;
  padding: 0px 0px 0px 0px;
  color: #aedae5;
  font-size: 15px;
}

.programmer__sc-flex2 {
  width: 100%;
  color: #083f6a;
  background-color: #aedae5;
  text-align: left;
}

.programmer__sc-flex2__title {
  margin: 0px 20px 40px 20px;
  font-size: 55px;
}

.programmer__sc-flex2__subtitle {
  margin: 50px 10px 0px 20px;
  font-size: 20px;
}

.programmer__sc-flex2__container-title {
  margin: 3px 10px 3px 20px;
  font-size: 20px;
  font-weight: 600;
}
