@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

.programmer-c {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: "Ubuntu Mono";
}

.programmer__title {
    margin: 2.5% 0px 0px 0px;
}

.programmer__subtitle {
    margin: 0px 0px 30px 0px;
}

.programmer__preflex-title {
    margin-bottom: 0px;
}

.programmer-sc--flex {
    display: flex;
    justify-content: center;
}

.programmer-sc__container {
    padding: 10px 0px 10px 0px;
    width: 33%;
    margin: 10px 5px 5px 5px;
}

.programmer-sc__container-port {
    padding: 10px 0px 10px 0px;
    width: auto;
    margin: 10px 5px 5px 5px;
}

.programmer-sc__container-portimg {
    width: 500px;
    height: 500px;
}

.programmer__subtitle-text {
    width: 68%;
    margin-left: 16%;
    text-align: justify;
}

.programmer__portrait {
    height: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 12%;
}
