@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.photographer__c {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 2000px;
  text-align: left;
  background-color: #efafad;
  color: #55161f;
  font-family: "Montserrat";
}

.programmer__c--flex {
  display: flex;
}

.programmer__name-title {
  padding: 50px 0px 0px 0px;
  margin: 0px 0px 0px 30px;
  text-align: left;
}

.programmer__name-subtitle {
  padding: 5px 0px 0px 0px;
  margin: 0px 0px 20px 30px;
  text-align: left;
}

.photographer__sc-flex2 {
}

.programmer__sc-flex2__title {
  margin: 0px 20px 40px 20px;
  font-size: 55px;
  font-weight: 1000;
}

.programmer__sc-flex2__subtitle {
  margin: 50px 10px 0px 20px;
  font-size: 20px;
}

.programmer__sc-flex2__container-title {
  margin: 3px 10px 3px 20px;
  font-size: 20px;
  font-weight: 600;
}

.programmer__sc-flex2__card-overflow {
  width: 95%;
  margin-left: 1.5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
