@import url("https://fonts.googleapis.com/css?family=Schoolbell&display=swap");

.idiot__c {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  overflow-y: auto;
  text-align: left;
  background-color: #dcef96;
  color: #154c17;
  font-family: "Schoolbell";
  letter-spacing: 2px;
}

.idiot__subtitle {
  padding: 50px 0px 0px 0px;
  margin: 0px 0px 0px 30px;
  text-align: left;
  font-size: 20px;
  letter-spacing: 3px;
}

.idiot__title {
  padding: 5px 0px 0px 0px;
  margin: 0px 0px 20px 30px;
  text-align: left;
  font-weight: 1000;
  font-size: 50px;
  letter-spacing: 4px;
}

.idiot__text {
  margin: 3px 30px 3px 30px;
  font-size: 17px;
}
