@import url("https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap");

.fd-crtc__c {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  background-color: #a7c6cf;
  color: #080f19;
  overflow-y: scroll;
  font-family: "Crimson Pro";
  text-align: left;
}
